.container {
  background-color: black;
  width: 970px;
  height: 100%;
}

.form {
  margin: 40px;
  padding: 20px;
  background-color: whitesmoke;
  width: 600px;
  height: 100%;
}
.button {
  color: royalblue;
}
