<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
      
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Hello ASP.NET Mvc!</h1>

         <h3>
        <a href ="/">Index</a>
        <a href ="/projects">Projects</a>
        <a href ="/contact">Contact</a>
        <a href ="/razorfun">Razorfun</a>
        <a href ="/showtime">Time</a>
        <a href ="/form">Form</a>
        </h3>

<h1> Welcome to my Contact Page!

    <p>Barbara Seidel Hello from Views</p>




    <!-- <form action="method" method="post">
    <input type="text" name="TextField"/>
    <input type="number" name="NumberField"/>
    <button type="submit">Submit</button>
</form> -->

</body>

</html>

